<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="top-banner"><%= title %></div>
<p>Welcome to <%= title %></p>
</body>
</html>
