body {
	margin-top: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.top-banner {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 50px;
	background: red;
	text-align: center;
	line-height: 50px;
}